@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .scrollbar::-webkit-scrollbar {
        width: .5dvh;
        height: .5dvh;
    }

    .mini .scrollbar::-webkit-scrollbar {
        width: .1dvh;
        height: .1dvh;
    }

    .scrollbar::-webkit-scrollbar-track {
        background: slategrey;
    }

    .scrollbar::-webkit-scrollbar-thumb {
        background: rgb(23, 38, 52);
        border: 3px solid slategrey;
        border-radius: 100vh;
    }

    .scrollbar::-webkit-scrollbar-thumb:hover {
        background: rgb(74, 99, 122);
    }

    .scrollbar::-webkit-scrollbar-corner {
        background: slategray;
    }
}

@keyframes shimmer {
    0% {
        background-position: -200% 0;
    }

    100% {
        background-position: 200% 0;
    }
}

.shimmer-animation {
    background: linear-gradient(90deg,
            transparent,
            #ffffff40,
            /* Some light color to act as a shimmer */
            transparent);
    background-size: 200% 100%;
    animation: shimmer 5s infinite;
}